<ion-view title="Evénements">
  <div class="bar bar-subheader item-input-inset" ng-class="{'bar-positive': search.length > 0}">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Tirez pour actualiser..." on-refresh="fn.refreshEvents()"></ion-refresher>
    <div class="list">
      <a class="item" ng-repeat="event in filteredEvents = (data.events | filter:search)">
        <h2>{{event.name}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
