<ion-view title="Groupes">
  <div class="bar bar-subheader item-input-inset" ng-class="{'bar-positive': search.length > 0}">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search=''">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Tirez pour actualiser..." on-refresh="fn.refreshGroups()"></ion-refresher>
    <div class="list">
      <a class="item item-avatar" ng-repeat="group in filteredGroups = (data.groups | filter:search) track by group.id">
        <img ng-src="{{group.group_photo.thumb_link}}">
        <h2>{{group.name}}</h2>
        <p>{{group.next_event.name}} - {{group.organizer.name}} - {{group.city}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
